{% extends 'dashboardbase.html' %}
{% load static %}
{% block content %}
        <!-- Main -->
        <main class="dashboard-main min-vh-100">
          <div class="d-flex flex-column gap-4 pb-110">
            <!-- Header -->
            <div>
              <h3 class="text-24 fw-bold text-dark-300 mb-2">Create a Service Listing</h3>
              <ul class="d-flex align-items-center gap-2">
                <li class="text-dark-200 fs-6">Dashboard</li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="5"
                    height="11"
                    viewBox="0 0 5 11"
                    fill="none"
                  >
                    <path
                      d="M1 10L4 5.5L1 1"
                      stroke="#5B5B5B"
                      stroke-width="1.2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </li>
                <li class="text-lime-300 fs-6">Create a Service Listing</li>
              </ul>
            </div>
            <!-- Content -->
            <div>
              <div class="row justify-content-center">
                <div class="col-xl-8">
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="d-flex flex-column gap-4">
                      <!-- Project Info -->
                      <div class="gig-info-card">
                        <!-- Header -->
                        <div class="gig-info-header">
                          <h4 class="text-18 fw-semibold text-dark-300">
                            Project Info
                          </h4>
                        </div>
                        <div class="gig-info-body bg-white">
                          <div class="row g-4">
                            <div class="col-12">
                              <div class="form-container">
                                <label for="title" class="form-label"
                                  >Title Name*</label
                                >
                                {{ form.nameofservice }}
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-container">
                                  <label for="category" class="form-label">Select Skill Offered*</label>
                                  {{form.skill}}
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-container">
                                <label for="subcategory" class="form-label"
                                  >Hourly Charge (eg 10.50)*</label
                                >
                                {{ form.hourlyCharge }}
                              </div>
                            </div>
                            <div class="col-md-6">
                                <label for="category" class="form-label">Select or Create Skill Tag*</label>
                                <select id="skilltag" name="relatedskilltag" autocomplete="off" class="form-select" multiple>
                                    <option value="" selected disabled>Select or create a skill tag</option>
                                    {% for skill_tag in form.relatedskilltag.field.queryset %}
                                        <option value="{{ skill_tag.pk }}">{{ skill_tag.skilltagname }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="col-12">
                              <div class="form-container">
                                <label for="description" class="form-label"
                                >Description*</label
                              >
                              {{ form.details }}
                              </div>
                              
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Upload Gig Img -->
                      <div class="gig-info-card">
                        <!-- Header -->
                        <div class="gig-info-header">
                          <h4 class="text-18 fw-semibold text-dark-300">
                            Upload Service Listing Image
                          </h4>
                        </div>
                        <div class="gig-info-body bg-white">
                          <p class="text-dark-200 mb-2">Service Listing Image</p>
                          <img id="output" src="{% static 'assets/img/avatar/notavailable.png'%}" style="max-width:300px; max-height:300px;" alt="Image Preview" class="mb-4 create-event-image"/>
                          <br/>
                          {{ form.image }}

                        </div>
                      </div>

                      <!-- Submit Btn -->
                      <div>
                        <button type="submit" class="w-btn-secondary-lg">
                          Publish Listing Now
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="10"
                            viewBox="0 0 14 10"
                            fill="none"
                          >
                            <path
                              d="M9 9L13 5M13 5L9 1M13 5L1 5"
                              stroke="white"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>
        <script>
          var loadFile = function(event) {
              var output = document.getElementById('output');
              output.src = URL.createObjectURL(event.target.files[0]);
              output.onload = function() {
                URL.revokeObjectURL(output.src);
              };
          };
        </script>
{% endblock %}

