{% extends 'main.html' %}
{% load static %}

{% block content %}

<main>
    <!-- Breadcrumb -->
    <section class="w-breadcrumb-area" style="background: url({% static 'assets/img/common/com2.jpg'%}) no-repeat center center/cover;">
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <div class="position-relative z-2" data-aos="fade-up" data-aos-duration="1000" data-aos-easing="linear">
                        <h2 class="section-title-light mb-2">Offer SkillSwap</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb w-breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item"><a href="#">Services</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Offer SkillSwap</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb End -->

    <!-- Purchase Listing Section -->
    <section class="py-110 bg-offWhite">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="bg-white p-5 rounded-4 service-details-content">
                        <h2 class="service-details-title fw-bold mb-4">{{ listing.nameofservice }}</h2>
                        <p class="text-dark-200 mb-4">{{ listing.details }}</p>

                        <!-- Purchase Form -->
                        <form method="post" class="mb-4">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="skill_offered" class="form-label">Skill Offered</label>
                                <input type="text" class="form-control" id="skill_offered" name="skill_offered" placeholder="Enter the skill offered">
                            </div>
                            <div class="mb-3">
                                <label for="message" class="form-label">Message to Seller (Details on your offered Skill)</label>
                                <textarea class="form-control" id="message" name="message" rows="4" placeholder="Enter your message"></textarea>
                            </div>
                            <button type="submit" class="w-btn-primary btn btn-lg btn-block" style="background-color: #4CAF50;">Send SkillSwap Offer</button>
                        </form>
                        <!-- End Purchase Form -->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Purchase Listing Section End -->
</main>

{% endblock %}
