{% extends 'dashboardbase.html' %}
{% load static %}
{% block content %}
        <!-- Main -->
        <main class="dashboard-main min-vh-100">
          <div class="d-flex flex-column gap-4 pb-110">
            <!-- Header -->
            <div>
              <h3 class="text-24 fw-bold text-dark-300 mb-2">Create a Gig</h3>
              <ul class="d-flex align-items-center gap-2">
                <li class="text-dark-200 fs-6">Dashboard</li>
                <li>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="5"
                    height="11"
                    viewBox="0 0 5 11"
                    fill="none"
                  >
                    <path
                      d="M1 10L4 5.5L1 1"
                      stroke="#5B5B5B"
                      stroke-width="1.2"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    />
                  </svg>
                </li>
                <li class="text-lime-300 fs-6">Create a Gig</li>
              </ul>
            </div>
            <!-- Content -->
            <div>
              <div class="row justify-content-center">
                <div class="col-xl-8">
                  <form>
                    <div class="d-flex flex-column gap-4">
                      <!-- Project Info -->
                      <div class="gig-info-card">
                        <!-- Header -->
                        <div class="gig-info-header">
                          <h4 class="text-18 fw-semibold text-dark-300">
                            Project Info
                          </h4>
                        </div>
                        <div class="gig-info-body bg-white">
                          <div class="row g-4">
                            <div class="col-12">
                              <div class="form-container">
                                <label for="title" class="form-label"
                                  >Title Name*</label
                                >
                                {{ form.nameofservice }}
                              </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-container">
                                  <label for="category" class="form-label">Select Category*</label>
                                  <select id="s" name="skill" autocomplete="off" class="form-select shadow-none">
                                      <option value="" selected disabled>Select or create a skill</option>
                                      {% for skill in form.skill.field.queryset %}
                                          <option value="{{ skill.pk }}">{{ skill.name }}</option>
                                      {% endfor %}
                                  </select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-container">
                                <label for="subcategory" class="form-label"
                                  >Hourly Charge(eg 10.50)*</label
                                >
                                {{ form.hourlyCharge }}
                              </div>
                            </div>
                            <div class="col-12">
                              <label for="description" class="form-label"
                                >Description*</label
                              >
                              <div class="w-editor-wrapper">
                                <div id="toolbar"></div>
                                <div id="editor">{{ forms.details }}</div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Upload Gig Img -->
                      <div class="gig-info-card">
                        <!-- Header -->
                        <div class="gig-info-header">
                          <h4 class="text-18 fw-semibold text-dark-300">
                            Upload Gig Images
                          </h4>
                        </div>
                        <div class="gig-info-body bg-white">
                          <p class="text-dark-200 mb-2">Gig Images</p>
                          {{ form.image }}

                        </div>
                      </div>

                      <!-- Submit Btn -->
                      <div>
                        <button class="w-btn-secondary-lg">
                          Publish Gig Now
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="14"
                            height="10"
                            viewBox="0 0 14 10"
                            fill="none"
                          >
                            <path
                              d="M9 9L13 5M13 5L9 1M13 5L1 5"
                              stroke="white"
                              stroke-width="1.5"
                              stroke-linecap="round"
                              stroke-linejoin="round"
                            />
                          </svg>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </main>
{% endblock %}}